/*///le style des polices ///*/
#header {
  width: 100%;
  height: 50px; /* Ajuste la hauteur en fonction du contenu */
  margin-bottom: 10px;
}

body {
    font-family: calibri, arial, sans-serif; /* Police de la page */
    background-color: #f0f0f0; /* Couleur de fond */
    overflow-x: hidden;
    position: relative ;
}

h1 {
    font-size: 30px;
    color: #000000;
    margin: 0px 10px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
    color: #303030;
    margin: 0 10px 5px 10px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    color: #303030;
    margin: 0 10px 5px 10px;
}

p {
    font-size: 10px;
    color: #303030;
    margin: 0px 10px 5px 10px;
}

#loading-message {
  display: none; /* Initialement caché */
  font-size: 18px;
  color: #555;
  text-align: center;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  width: 80%; /* Ajustement de la largeur pour des écrans plus petits */
  max-width: 300px; /* Limitation de la largeur */
}

/*///le style des différents div///*/
.container {
    display: flex;
    height: calc(100vh - 120px); /* Hauteur du conteneur */
    width: calc(100% - 10px);
    padding: 5px;
}











/*///la partie gauche////*/
.left {
    flex: 0 0 15%; 
    background-color: #dcdcdc;
}

/*Ajout des marges aux titres du menu déroulant*/
.origin {
    margin-bottom: 20px;
}

.origin h3 {
    margin-bottom: 20px;
}

.comparison h3 {
    margin-bottom: 20px;
}
/*style des noms des menus déroulants*/
.left label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #303030;
    font-size: 12px;
}
/*style des menus déroulants*/
.left select {
    margin-bottom: 5px;
    background-color:#ffffff;
    border-radius: 5px;
    font-size: 12px;
    color: #303030;
    cursor: pointer;
    width: 100px;
}

/* Appliquer un style visuel aux sélections désactivées */
select:disabled {
    background-color: #e0e0e0; /* Couleur de fond grisée */
    cursor: not-allowed; /* Changer le curseur pour indiquer l'interdiction */
}









/*///la partie centrale///*/
.main {
    flex: 1 1 80%; /* Pour la carte principale */
    height: 100%;
    width: 100%;
    overflow: hidden; /* Cache le contenu qui dépasse */
    box-sizing: border-box; /* Inclut padding et bordure dans les dimensions */
}

/*le contenant de la map*/
#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}
/*la carte*/
#map {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; /* Assure que la carte est en arrière-plan */
}

/*l'ajout des raster à la carte*/
.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none; /* Permet les interactions avec la carte */
}


/*le contrôle du zoom*/
.zoom-control {
    display: flex;
    flex-direction: column; /* Empile les boutons verticalement */
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 50; /* S'assure qu'il est au-dessus de tout autre contenu */
}
/*les boutons de zoom*/
.zoom-in-button,
.zoom-out-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2.5px 0;
    cursor: pointer; /* Change le curseur sur hover */
    width: 30px;
    height: 30px;
    font-size: 18px;
}
/*change la couleur lors du passage de la souris*/
.zoom-in-button:hover, .zoom-out-button:hover {
    background-color: #f0f0f0; /* Légère variation de couleur au survol */
    transform: scale(1.1); /* Effet de zoom */
    transition: all 0.2s ease;
}

/*l'attribution leaflet*/
.leaflet-control-attribution {
    position: absolute;
    bottom: 10px;  /* Garder l'espacement depuis le bas */
    left: 10px;   /* Positionner à droite */
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    font-size: 8px !important;
    width: 150px;  /* Ajustez la largeur si nécessaire */
}

/*placement de l'échelle*/
.leaflet-control-scale {
    position: absolute;
    bottom: 10px;  /* Décaler l'échelle vers le haut */
    right: 10px;
    z-index: 100;
}

/*le bouton d'opacité*/
.opacity-control {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px; /* Augmente l'espace intérieur */
    border-radius: 5px;
    font-size: 16px; /* Augmente la taille du texte à l'intérieur */
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100px; /* Définit une largeur explicite */
    height: 40px; /* Définit une hauteur explicite */
}

/* Applique le curseur main sur le slider d'opacité */
.opacity-control input[type="range"] {
    cursor: pointer; /* Changer le curseur en main */
}

.comparison-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.comparison-container input[type="range"] {
    position: absolute;
    top: 50%; /* Centre verticalement */
    left: 50%; /* Centre horizontalement */
    transform: translate(-50%, -50%); /* Ajuste pour centrer parfaitement */
    -webkit-appearance: none;
    appearance: none;
    width: 80%; /* Ajustez selon vos besoins */
    background-color: transparent;
    z-index: 1000;
}

.comparison-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 10px;
    height: 20px;
    background: #5b83dc;
    cursor: pointer;
}

.comparison-container input[type="range"]::-webkit-slider-thumb:active {
    background: #e25a5a;
    transition: all 300ms ease-in-out;
}

/*///la partie droite///*/
/* Conteneur principal à droite */
.right {
    flex: 0 0 20%; /* Fixe la largeur à 20% */
    background-color: #dcdcdc; /* Couleur de fond */
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Empile les enfants verticalement */
    padding: 10px; /* Espacement intérieur */
}

/* Texte de la légende */
.legend-text p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    max-height: 150px; /* Hauteur maximale pour le texte */
    overflow-y: auto; /* Défilement vertical si nécessaire */
    background-color: #f9f9f9; /* Couleur de fond */
    padding: 10px; /* Espacement intérieur */
    box-sizing: border-box; /* Inclut padding dans la hauteur */
    border-radius: 5px; /* Bordures arrondies */
    border: 1px solid #ccc; /* Bordure discrète */
}

/* Scrollbar stylisée pour la légende de texte */
.legend-text::-webkit-scrollbar {
    width: 8px;
}
.legend-text::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}
.legend-text::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

/* Image de la légende */
.legend-image {
    display: flex; /* Centre le contenu */
    justify-content: center;
    align-items: center;
    width: 100%; /* Prend toute la largeur du conteneur */
    max-height: 250px; /* Limite la hauteur de l'image */
    overflow: hidden; /* Cache les parties de l'image qui dépassent */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px; /* Bordures arrondies */
}

/* Ajuster l'image à l'intérieur de la légende */
.legend-image img {
    max-height: 100px; /* Hauteur maximale */
    height: auto; /* Conserve le ratio d'aspect */
    object-fit: contain; /* Ajuste sans déformer */
}

/* Footer */
.footer {
  background-color: #f1f1f1;
  color: #333;
  text-align: left;
  padding: 0px;
  font-size: 8px;
  border-top: 1px solid #ccc;
  position: relative;  /* Assurez-vous qu'il n'est pas affecté par les éléments voisins */
  width: 100%;  /* Pour qu'il s'étende sur toute la largeur de la page */
  margin-top: 10px;  /* Ajout d'un espacement par rapport au contenu précédent */
}

