body {
    font-family: Arial, sans-serif; /* Police de la page */
    background-color: #f0f0f0; /* Couleur de fond */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut, soit l'espace intérieur*/
    display: flex; /* Utilisation de flexbox pour l'alignement */
    flex-direction: column; /* Empile les éléments verticalement */
}

h1 {
    font-size: 30px;
    color: #3B4E44;
    margin: 5px 10px;
}

h2 {
    font-size: 15px;
    color: #735D51;
    margin: 0 10px 5px 10px;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: calc(100vh - 120px); /* Hauteur du conteneur */
    width: 100%; /* Prend 100% de la largeur */
    padding: 5px;
    box-sizing: border-box;
}

.side {
    flex: 2 1 15%; /* Pour les colonnes latérales */
    background-color: #d4c9c9; /* Couleur de fond */
}

.main {
    flex: 1 1 70%; /* Pour la carte principale */
    background-color: transparent; /* Couleur de fond */
    position: relative; /* Positionnement relatif pour les éléments enfants */
}

.info {
    background-color: #fff400;
}

.map {
    background-color: #3B4E44;
    position: relative;
}
.zoom-control {
    display: flex;
    flex-direction: column; /* Empile les boutons verticalement */
    position: absolute; /* Changez à 'absolute' pour le positionner par rapport à son conteneur parent */
    bottom: 20px; /* Positionne le conteneur à 20px du bas */
    right: 10px; /* Positionne le conteneur à 10px de la droite */
    z-index: 1000; /* S'assure qu'il est au-dessus de tout autre contenu */
}

.zoom-in-button,
.zoom-out-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2.5px 0;
    cursor: pointer; /* Change le curseur sur hover */
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.legend {
    background-color: #517b58;
}

.footer {
    background-color: #d4c9c9;
    height: 20px;
    padding: 0px;
    margin-left: 8px;
    margin-right: 8px;
}
