body {
    font-family: Arial, sans-serif; /* Police de la page */
    background-color: #f0f0f0; /* Couleur de fond */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime le padding par défaut, soit l'espace intérieur*/
    padding-right: 10px;
    display: flex; /* Utilisation de flexbox pour l'alignement */
    flex-direction: column; /* Empile les éléments verticalement */
    overflow: hidden;
}

h1 {
    font-size: 30px;
    color: #3B4E44;
    margin: 5px 10px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
    color: #735D51;
    margin: 0 10px 5px 10px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    color: #3B4E44;
    margin: 0 10px 5px 10px;
}

p {
    font-size: 10px;
    color: #3B4E44;
    margin: 0 10px 5px 10px;
}

.container {
    display: flex;
    margin-top: 10px;
    height: calc(100vh - 140px); /* Hauteur du conteneur */
    width: 100%; /* Prend 100% de la largeur */
    padding: 5px;
}

.left {
    flex: 2 1 15%; 
    background-color: #d4c9c9;
}

.origin {
    margin-bottom: 20px;
}

.origin h3 {
    margin-bottom: 20px;
}

.comparison h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.main {
    flex: 1 1 65%; /* Pour la carte principale */
    background-color: transparent; /* Couleur de fond */
    position: relative; /* Positionnement relatif pour les éléments enfants */
    height: 100%;
    width: 100%;
}

#map-container {
    position: relative; /* Positionnement relatif pour contenir les éléments absolus */
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Assure que la carte est en arrière-plan */
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Assure que l'image est au-dessus de la carte */
    pointer-events: none; /* Permet les interactions avec la carte */
}

#image-display {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la zone sans distorsion */
    opacity: 0.5;
}

.left label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #3B4E44;
    font-size: 12px;
}

.left select {
    margin-bottom: 5px;
    background-color:#fffff;
    border-radius: 5px;
    font-size: 12px;
    color: #3B4E44;
    cursor: pointer;
    width: 100px;
}

.right {
    flex: 2 1 20%; 
    background-color: #d4c9c9;
}

.zoom-control {
    display: flex;
    flex-direction: column; /* Empile les boutons verticalement */
    position: absolute; /* Changez à 'absolute' pour le positionner par rapport à son conteneur parent */
    bottom: 20px; /* Positionne le conteneur à 20px du bas */
    right: 10px; /* Positionne le conteneur à 10px de la droite */
    z-index: 999; /* S'assure qu'il est au-dessus de tout autre contenu */
}

.zoom-in-button,
.zoom-out-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2.5px 0;
    cursor: pointer; /* Change le curseur sur hover */
    width: 30px;
    height: 30px;
    font-size: 18px;
}

.leaflet-control-attribution {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 500;
}

.opacity-control {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.footer {
    background-color: #d4c9c9;
    height: 25px;
    padding: 10px;
    margin: 5 0px;
    box-sizing: border-box; 
}
